*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-size: 22px;
}
body{
    transform: 0.5s;

}
h1{
    padding: 5px;
}

.main{
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
}
.container{
    margin: 5px;
    width:15rem;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
button{
    display: block;
    width: 100%;
    background-color: black;
    color: azure;
    border: none;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;

}